@import '../../styles/colors.scss';

.references {
  &__container { 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    margin-top: 25px;
  }

  &--img {
    margin-bottom: 50px;
  }

  &--text {
    .title--page {
      line-height: 0.5;
      margin-bottom: 40px;
    }

    &-reference {
      display: flex;

      font-size: 16px;
      letter-spacing: 0.1em;

      margin-bottom: 10px;

      &__where {
        color: $main;
        margin: 0;
      }

      &__link {
        height: 100%;

        word-break: break-all;
      }
    }
  }
}

@media (max-width: 1024px) {
  .references {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container { 
      flex-direction: column;
      
      align-items: center;
    }

    &--text {

     .title--page { 
        margin-bottom: 0px !important;
        line-height: 1 !important;
      }
    }

    &--img {
      margin-top: 50px;
    }
  }
}