.error {
  background: #ff3333;
}

input,
label,
textarea {
  color: #fff;
}

.mt-3 {
  margin-top: 3em !important;
}

.mb-3 {
  margin-bottom: 3em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.row_c {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.row_c a {
  margin-bottom: 5px;
  margin-top: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical_line {
  width: 1px;
  height: 30px;
  background-color: #000;

  margin: 0 10px;
}

.df {
  display: flex;
  align-items: center;
}

.column {
  flex-direction: column;
}

.b {
  color: #000 !important;
}

.fw {
  flex-wrap: wrap;
}